.emp-list {
    background: rgb(110, 72, 170) !important;
    color: white;
    padding: 15px;
    margin-left: 30px;
}

.msg {
    background: rgb(110, 72, 170) !important;
    color: white;
    padding: 15px;
    margin-left: 30px;
}