.rectangle {
    background-color: #5A287D;
}

.title {
    color: #FFF;
    text-align: center;
    font-family: 'Inria', Serif;
    font-weight: 200;
    font-size: 30px;
    font-style: normal;
    line-height: normal;
    display: inline-block;
}

.botGif {
    width: 70px;
    height: 70px;
    flex-shrink: 0;
    mix-blend-mode: multiply;
}

.logo {
    width: 60px;
    height: 58.29px;
    flex-shrink: 0;
}

.companyName {
    color: #FFF;
    text-align: center;
    font-family: 'Inria', Serif;
    font-size: 15px;
    font-style: normal;
    font-weight: 200;
    line-height: normal;
    display: inline;
}

.rectangle2 {
    background-color: #D9D9D9;
}